@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Syne&display=swap');



.hero-title {
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 30%, rgba(255, 255, 255, 0.35) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

p {
  line-height: 140%;
}

.rotate-60 {
    transform: rotate(60deg);
  }

  .grayscale-0 {
    filter: grayscale(0%);
  }
  .grayscale-100 {
    filter: grayscale(100%);
  }

  .zoom-image {
    transition: transform 0.5s;
  }

  .zoom-image:hover {
    transform: scale(1.2);
  }